<nav class="navbar-dark bg-dark align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none text-white">
        <span class="fs-5 d-none d-lg-inline">App name</span>
    </a>
    <ul class="navbar-nav mb-sm-auto mb-0"
        id="menu">
        <li class="nav-item">
            <a href="#asd" class="nav-link align-middle row">
                <i class="fa fa-lg col-1 px-3 py-2 fa-home"></i>
                <span class="ms-1 d-none d-lg-inline col">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#aa" class="nav-link align-middle row">
                <i class="fa fa-lg col-1 px-3 py-2 fa-dashboard"></i>
                <span class="ms-1 d-none d-lg-inline col">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link align-middle row">
                <i class="fa fa-lg col-1 px-3 py-2 fa-table"></i>
                <span class="ms-1 d-none d-lg-inline col">Orders</span>
            </a>
        </li>
        <li>
            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link align-middle row">
                <i class="fa fa-lg col-1 px-3 py-2 fa-database"></i>
                <span class="ms-1 d-none d-lg-inline col">Products</span>
            </a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                <li class="w-100">
                    <a href="#" class="nav-link px-0">
                        <span class="d-none d-sm-inline">Product</span>
                        1
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link px-0">
                        <span class="d-none d-sm-inline">Product</span>
                        2
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link px-0">
                        <span class="d-none d-sm-inline">Product</span>
                        3
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link px-0">
                        <span class="d-none d-sm-inline">Product</span>
                        4
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="nav-link align-middle row">
                <i class="fa fa-lg col-1 px-3 py-2 fa-users"></i>
                <span class="ms-1 d-none d-lg-inline col">Customers</span>
            </a>
        </li>
    </ul>
</nav>
